/* Home Specific Styling */
.home {
  min-height: 100vh;
  background-color: #2C3E50; /* Dark background */
  color: white;
  padding-bottom: 60px; /* Space for footer */
  padding-top: 140px; /* Padding to avoid navbar covering content */
}

/* Heading Styling */
.home h1 {
  font-size: 2.5rem;
  color: #ECF0F1; /* Light grey */
  margin-bottom: 2rem;
  text-align: center;
}

/* Navbar Styling */
.home-navbar {
  z-index: 20;
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: #2C3E50; /* Dark background */
  border-bottom: 2px solid #1ABC9C; /* Teal border */
  top: 0;
}

.home-navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ECF0F1;
}

.home-navbar .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #ECF0F1;
  background-color: transparent;
  border: none;
}

.home-navbar .navbar-nav .nav-link:hover {
  color: #1ABC9C !important; /* Teal on hover */
}

.home-offcanvas-header {
  background-color: #2C3E50;
  color: #ECF0F1;
}

.home-offcanvas-body {
  font-size: 1.1rem;
  background-color: #212529; /* Dark background */
}

.nav-link:hover {
  color: #81d4fa; /* Light blue on hover */
}

/* Cards Section Styling */
.home-g-4 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-card {
  background-color: #34495E;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 350px;
}

.home-card:hover {
  transform: translateY(-5px);
}

.home-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ECF0F1;
}

.home-card-body {
  text-align: center;
  padding: 1.5rem;
}

/* Button Styling */
.home-button {
  width: 100%;
  background-color: #1ABC9C;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1.1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #16A085;
}

/* Footer Styling */
.home-footer {
  margin-top: 50px;
  margin-bottom: -50px;
  background-color: #2C3E50;
  color: #ECF0F1;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
  border-top: 2px solid #1ABC9C;
}

/* Modal Styles */
.home-modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2C3E50;
}

.home-modal-body {
  font-size: 1.1rem;
  color: #2C3E50;
}

.home-modal-footer {
  text-align: center;
}

/* Media Queries for responsiveness */
@media (max-width: 767px) {
  .home-card-title {
    font-size: 1.1rem;
  }

  .home-button {
    font-size: 1rem;
  }

  .home-footer {
    font-size: 0.9rem;
  }

  .home-card {
    margin: auto;
    width: 90%;
  }
}

@media (max-width: 350px) {
  .h-m-a {
    font-size: small;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    display: flex;
    justify-content: center;
  }
}
